@import "/src/colors.less";

.btn {
  padding: 10px 10px 20px 10px;
  font-size: 18px;
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none; /* Non-prefixed version*/
}

.btn-container {
  display: flex;
  align-items: center;
}

.chevron-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.chevron::before {
  border-style: solid;
  border-width: 0.22em 0.22em 0 0;
  display: inline-block;
  content: "";
  height: 0.42em;
  left: 0.12em;
  position: relative;
  top: 0.12em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.42em;
}

.disabled {
  color: rgba(16, 16, 16, 0.3);
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
