<<<<<<< HEAD
@import "/src/colors.less";
.products-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.wrapper {
  max-width: 90%;
  margin: 16px auto;
=======
.products-container {
  display: flex;
  flex-wrap: wrap;
>>>>>>> 52ebd43b0ebb289b5afa0ab6c00eade56bef9525
}

.product-card {
  width: 300px;
<<<<<<< HEAD
  height: 250px;
  background: @card-background-color;
  color: black;
  margin: 20px;
  padding: 4px;
  text-decoration: none;
  border-radius: 8px;

  h3 {
    color: black;
  }
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

=======
  min-height: 300px;
  background: #25283d;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;

  h3 {
    color: rgb(206, 203, 203);
  }
}

>>>>>>> 52ebd43b0ebb289b5afa0ab6c00eade56bef9525
.product-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 14px;
<<<<<<< HEAD
  padding: 8px;
=======
>>>>>>> 52ebd43b0ebb289b5afa0ab6c00eade56bef9525
}

.product-img {
  display: flex;
  margin: auto;
  border-radius: 8px;
}

.products-pagination-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
