<<<<<<< HEAD
@import "/src/colors.less";

=======
>>>>>>> 52ebd43b0ebb289b5afa0ab6c00eade56bef9525
.categorys-list {
  max-width: 600px;
  border-radius: 10%;
  text-align: center;
<<<<<<< HEAD
  background-color: @card-background-color;
  margin: auto;
  margin-top: 40px;
  padding: 20px;

  a {
    text-decoration: none;
    color: black;
=======
  background-color: #25283d;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border: 4px solid #00817b;

  a {
    text-decoration: none;
    color: white;
>>>>>>> 52ebd43b0ebb289b5afa0ab6c00eade56bef9525
    font-size: 18px;

    div {
      margin-top: 18px;
    }
  }
}
