@import "/src/colors.less";

.product-container {
  background: @background-color;
  color: @black;
}

.product-info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}

.product {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 16px;
  background-color: @card-background-color;
  border-radius: 10px;

  img {
    width: 300px;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
  }
}

.product-description {
  padding: 16px 0 16px 0;
  font-size: 14px;

  p {
    padding: 10px 20px 0;
  }

  b {
    color: @green;
  }
}

.loading {
  color: @white;
  font-size: 16px;
}

.back-btn {
  left: 0;
}
