.product-container {
  display: flex;
  position: relative;
  height: calc(100vh - 60px);
  background: #25283d;
  color: white;
  justify-content: center;
}

.product {
  position: relative;
  justify-content: center;
  padding: 16px;
  background-color: #0f66c988;
  margin: auto;
  border-radius: 10px;
}

.product img {
  width: 300px;
  height: 300px;
  justify-content: center;
  border-radius: 10px;
}

.product-description {
  padding: 16px 0 16px 0;
  font-size: 14px;
}

.product-description p {
  padding: 10px 20px 0;
}

.product-description b {
  color: #6ac3d3;
}
