@import "/src/colors.less";

.navbar {
  width: 100%;
  color: #fff;
  background-color: @nav-background-color;
  margin: 0;

  .menu {
    position: relative;
    display: flex;

    li {
      display: flex;
      transition: background-color 0.5s ease;
      max-width: 100px;
      flex: 1;
    }

    li:hover {
      background-color: @nav-link-hover;
      color: #0f0f0f;
    }

    .link {
      position: relative;
      display: inline-flex;
      padding: 20px 8px;
      text-decoration: none;
      color: #fff;
      flex: 1;
      justify-content: center;
    }
  }
}
