@body-background-color: #1e1b18;

@nav-background-color: #25283d;
@card-background-color: #4d9ae8;

@nav-link-hover: #00ffff;

@card-background-color: #daffef;

@background-color: #88e2d7d0;

@black: #000000;
@white: #fffaff;
@dark-grey: #282828;
@grey: #413c3c;
@purple-1: #3500d3;
@purple-2: #240090;
@purple-3: #190061;
@purple-4: #0c0032;
@blue-header: #6bd0ffcc;

@import (css)
  url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@font-montserrat: Montserrat;
