@import (css)
  url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --black: #000000;
  --white: #fffaff;
  --dark-grey: #282828;
  --grey: #413c3c;
  --purple-1: #3500d3;
  --purple-2: #240090;
  --purple-3: #190061;
  --purple-4: #0c0032;
  --blue-header: #6bd0ffcc;

  --font-montserrat: Montserrat;

  --index-header: 3;
}

body {
  background-color: var(--purple-4);
  color: var(--white);
}
