@import "colors.less";
body {
  line-height: 1.7em;
  font-size: 14px;
  background-color: @background-color;
  font-family: @font-montserrat;
  font-weight: 500;
  margin: 0;
}

:root {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  background-color: transparent;
}
